.contact-tile {
  padding: 16px 10px;
  border-bottom: 1px solid #dadada;
  background-color: #efefef;
}

.contact-tile-header {
  padding: 8px 10px;
  background-color: #1b1c31;
  color: #efefef;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
